html,
body {
  background-color: #30734C;
}


/*Setting the display to flex*/
.wrapper {
  display: flex;
  flex-flow:row wrap; 
}

.wrapper > * {
  padding: 10px; 
  flex: 1 100%; 
}

.header {
  background-color: #30734C;
  text-align: left;
}

#quiz {
  background: #e3f6f5;
  padding: 1%;
  text-align: center;
  border-radius: 8%;
}

.aside-1 {
  background-color: #30734C;
  text-align: center;
}


.aside-2 {
  background-color: #30734C;
  text-align: center;
}


.footer {
  background-color:#30734C;
  text-align: left;
}


@media all and (min-width:600px) {
  .aside {flex: 1 0 0;}
  
}

@media all and (min-width: 800px) {
  .quiz {flex: 3; }
  .aside-1 {order: 1;}
  .quiz {order: 2;}
  .aside-2 { order: 3;}
  .footer {order: 4; }
}


h1 {
  color: #000000; 
  font-size: 35px;
  text-align: center;
  padding: 2px 0px;
  border-radius: 50px;
}

#question {
  font-family: sans-serif;
  font-size: 25px;
  color: black; 
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: #D8DBD9;
  border-color: #30734C;
  width: 180px;
  font-size: 20px;
  color: #30734C;
  border-radius: .3rem;
  padding: 10px 20px;
  margin: 10px 40px 10px 0px;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}

